Repository Interacao-Humano-Computador/2021.1-Prefeitura-de-Concordia, pull requests merged in 2021-10, with the labels that each got.

#89 #67 Prototipação de alta fidelidade
  docs/nivel3/prototipo.md
  mkdocs.yml
Labels: documentation, Design Avaliação e Desenvolvimento

#92 #82 Verificação do protótipo de alta fidelidade
  docs/verificacao/prototipo_alta_fidelidade.md
  mkdocs.yml
Labels: documentation, Verificação

#91 #90 Documentação 6 ponto de controle
  docs/apresentacoes/p6.md
  mkdocs.yml
Labels: documentation, Design Avaliação e Desenvolvimento

#87 #60 Revisão dos documentos
  docs/analiseTarefas/planejamentoAvaliacaoAnaliseTarefa.md
  docs/images/planejamento/storyboardThat.png
  docs/nivel1/planejamentoAvaliacao.md
  docs/nivel1/planejamentoAvaliacaoStoryboard.md
  docs/planejamento/ferramentas.md
  mkdocs.yml
Labels: documentation

#88 #66 Adição entrevistas do protótipo de baixa fidelidade
  docs/nivel2/avaliacoesPrototipo/entrevista1.md
  docs/nivel2/avaliacoesPrototipo/entrevista2.md
  docs/nivel2/planejamento.md
Labels: documentation, Design Avaliação e Desenvolvimento

#95 #70 Verificação personas
  docs/verificacao/personas.md
  mkdocs.yml
Labels: documentation, Verificação

#94 #71 Verificação entrevistas
  docs/verificacao/entrevistas.md
  mkdocs.yml
Labels: documentation, Verificação

#98 #81 Verificacao planejamento avaliacao baixa fidelidade
  docs/verificacao/planejamento_prototipo_baixa.md
  mkdocs.yml
Labels: documentation, Verificação

#100 #79 Verificação planejamento storyboard
  docs/verificacao/planejamento_storyboard.md
  mkdocs.yml
Labels: documentation, Verificação

#97 #83 Verificação do planejamento e avaliação do protótipo de alta fidelidade
  docs/verificacao/planejamento-avaliaca-alta-fidelidade.md
  mkdocs.yml
Labels: documentation, Verificação

#101 #74 adicionando Verificação de metas e usabilidade
  docs/verificacao/metas-e-usabilidade.md
  mkdocs.yml
Labels: documentation, Verificação

#99 #69 Adicionando Verificação-questionário-e-perfil-e-usuário
  docs/verificacao/questionário-e-perfil-e-usuário.md
  mkdocs.yml
Labels: documentation, Verificação

#96 #76 Verificação da análise de tarefas
  docs/verificacao/analise-de-tarefas.md
  mkdocs.yml
Labels: documentation, Verificação

#104 #73 Verificação do guia de estilo
  docs/verificacao/guia_de_estilo.md
  mkdocs.yml
Labels: documentation, Verificação

#103 #72 Verificação dos princípios e diretrizes
  docs/verificacao/principios_e_diretrizes.md
  mkdocs.yml
Labels: documentation, Verificação

#102 #77 Verificacao do planejamento e avaliação de analises de tarefas
  docs/verificacao/verificacao_planejamento_e_avaliacao_das_analises_de_tarefas.md
  mkdocs.yml
Labels: documentation, Verificação
